<div class="container">
    <form *ngIf="isLoginPage" #userCredentials="ngForm" (ngSubmit)="onLogin(userCredentials.value)" class="login-form">
        <label for="username">Username:</label>
        <input type="text" ngModel name="username" id="username" autocomplete="off">
        <p id="msg-username"></p>
        <label for="password">Password:</label>
        <input type="password" ngModel name="password" id="password">
        <input type="submit" value="Login">
        <a (click)="openRegisterPage()">Register</a>
    </form>
      
    <form *ngIf="!isLoginPage" #userCredentials="ngForm" (ngSubmit)="onRegister(username.value, password.value, password_retype.value)" class="register-form">
        <label for="username"  >Username:</label>
        <input type="text" #username name="username" id="username" autocomplete="off">
        <label for="password">Password:</label>
        <input type="password" #password name="password" id="password">
        <label for="password_retype">Type again your password:</label>
        <input type="password" #password_retype name="password-retype" id="password-retype">
        <input type="submit" value="Register">
        <a (click)="openLoginPage()">Login</a>
    </form>
</div>
  

