.container{
    width: 70%;
    margin: auto;
}
.post-box{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    text-wrap: break-word;
}
.post-info-box{
    background-color: #8B6D96;
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px;
}
.post-info-box p {padding: 10px;} .post-info-box a {text-decoration: none; color:black} .post-info-box a:hover {text-decoration: underline;}
.post-title-box {
    padding: 0 10px;
}
.post-title-box h3 {
    font-size: 30px;
    font-weight: bold;
}
.post-text-box{
    padding-left: 10px;
    padding-bottom: 5px;
}


.make-comment-box {
    width: 100%;
    margin: 20px 0;
}
  
.make-comment-form-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.make-comment-form-box form {
    display: flex;
    flex-direction: column;
}

.make-comment-form-box label {
    font-weight: bold;
    margin-bottom: 10px;
}

.make-comment-form-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; 
    min-height: 150px; 
    white-space: pre-wrap;
}

.make-comment-form-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.make-comment-form-box button:hover {
    background-color: #0056b3;
}
  

.comment-box{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: 	#E5E4E2;
    border: 1px solid gray;
    border-radius: 5px;
}
.comment-info-box{
    width: 100%;
    background-color: #E0B0FF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.comment-info-box p {padding: 5px;}
.comment-text{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.comment-info-box a{text-decoration: none;color:black} .comment-info-box a:hover{text-decoration: underline;}